<div class="options-modal-overlay" ng-show="optionsOpen">
    <div class="options-modal-box" ng-controller="OptionsController">
        <button class="btn-options-close" ng-click="closeOptions()"></button>

        <div class="options-header">
            <h2>GAME OPTIONS</h2>
        </div>

        <div class="options-body-wrapper">
            <div class="options-sidebar">
                <ul class="options-tabs">
                    <li ng-class="{'active': optionsTab == 'GRAPHICS'}"><a href="" ng-click="setOptionsTab('GRAPHICS')">GRAPHICS</a></li>
                    <li ng-class="{'active': optionsTab == 'SOUND'}"><a href="" ng-click="setOptionsTab('SOUND')">SOUND</a></li>
                    <li ng-class="{'active': optionsTab == 'CONTROLS'}"><a href="" ng-click="setOptionsTab('CONTROLS')">CONTROLS</a></li>
                    <li ng-class="{'active': optionsTab == 'GAMEPLAY'}"><a href="" ng-click="setOptionsTab('GAMEPLAY')">GAMEPLAY</a></li>
                    <li ng-show="allowShellThemeSelect" ng-class="{'active': optionsTab == 'INTERFACE'}"><a href="" ng-click="setOptionsTab('INTERFACE')">INTERFACE</a></li>
                </ul>
                <div class="options-restore-wrap">
                    <button class="btn-opt-restore" ng-click="restoreDefaults()" ng-disabled="!settingsReady">RESTORE DEFAULTS</button>
                </div>
            </div>

            <div class="options-content" ng-class="{'opt-content--waiting': !settingsReady}">
                <fieldset class="opt-fieldset" ng-disabled="!settingsReady">
                <div class="opt-pane" ng-show="optionsTab == 'GRAPHICS'">
                    <div class="opt-group">
                        <label class="opt-label-main">Shell Display Mode</label>
                        <label class="opt-radio"><input type="radio" name="shellMode" ng-value="true" ng-model="settings.shellfullscreen" ng-change="applyGraphicsMode()"> Fullscreen</label>
                        <label class="opt-radio"><input type="radio" name="shellMode" ng-value="false" ng-model="settings.shellfullscreen" ng-change="applyGraphicsMode()"> Windowed</label>
                    </div>

                    <div class="opt-group">
                        <label class="opt-label-main">Game Display Mode</label>
                        <label class="opt-radio"><input type="radio" name="gameMode" ng-value="true" ng-model="settings.gamefullscreen" ng-change="applyGraphicsMode()"> Full Screen</label>
                        <label class="opt-radio"><input type="radio" name="gameMode" ng-value="false" ng-model="settings.gamefullscreen" ng-change="applyGraphicsMode()"> Windowed</label>
                    </div>

                    <div class="opt-row clearfix">
                        <div class="opt-col-half">
                            <label class="opt-label-main">Full Screen Resolution</label>
                            <select class="opt-select" ng-model="settings.fullscreenResolution" ng-options="r for r in fullscreenResolutionOptions" ng-change="applyFullscreenResolution()"></select>
                        </div>
                        <div class="opt-col-half">
                            <label class="opt-label-main">Windowed Resolution</label>
                            <select class="opt-select" ng-model="settings.windowedResolution" ng-options="r for r in windowedResolutionOptions" ng-change="applyWindowedResolution()"></select>
                        </div>
                    </div>

                    <div class="opt-group opt-group--tight">
                        <label class="opt-label-main">Overall Graphics</label>
                        <select class="opt-select" ng-model="settings.overallgraphicsquality" ng-options="o.value as o.label for o in overallQualityOptions" ng-change="onOverallGraphicsChange()"></select>
                    </div>

                    <div class="opt-row clearfix">
                        <div class="opt-col-half">
                            <label class="opt-label-main">Texture</label>
                            <select class="opt-select" ng-model="settings.texturequality" ng-options="o.value as o.label for o in qualityOptions" ng-change="onGraphicsDetailChange()"></select>
                        </div>
                        <div class="opt-col-half">
                            <label class="opt-label-main">Shadow</label>
                            <select class="opt-select" ng-model="settings.shadowquality" ng-options="o.value as o.label for o in qualityOptions" ng-change="onGraphicsDetailChange()"></select>
                        </div>
                    </div>
                    <div class="opt-row clearfix">
                        <div class="opt-col-half">
                            <label class="opt-label-main">Effects</label>
                            <select class="opt-select" ng-model="settings.effectsquality" ng-options="o.value as o.label for o in qualityOptions" ng-change="onGraphicsDetailChange()"></select>
                        </div>
                        <div class="opt-col-half">
                            <label class="opt-label-main">Mesh</label>
                            <select class="opt-select" ng-model="settings.meshquality" ng-options="o.value as o.label for o in qualityOptions" ng-change="onGraphicsDetailChange()"></select>
                        </div>
                    </div>
                    <div class="opt-row clearfix">
                        <div class="opt-col-half">
                            <label class="opt-label-main">Terrain</label>
                            <select class="opt-select" ng-model="settings.terrainquality" ng-options="o.value as o.label for o in qualityOptions" ng-change="onGraphicsDetailChange()"></select>
                        </div>
                        <div class="opt-col-half">
                            <label class="opt-label-main">Anti-Aliasing</label>
                            <select class="opt-select" ng-model="settings.antialiasingpost" ng-options="o.value as o.label for o in aaPostOptions" ng-change="onGraphicsDetailChange()"></select>
                        </div>
                    </div>
                    <div class="opt-row clearfix">
                        <div class="opt-col-half">
                            <label class="opt-label-main">Ambient Occlusion</label>
                            <select class="opt-select" ng-model="settings.ambientocclusion" ng-options="o.value as o.label for o in aoOptions" ng-change="onGraphicsDetailChange()"></select>
                        </div>
                        <div class="opt-col-half">
                            <label class="opt-label-main">Anisotropic Filter</label>
                            <select class="opt-select" ng-model="settings.anisotropicfilter" ng-options="o.value as o.label for o in anisoOptions" ng-change="onGraphicsDetailChange()"></select>
                        </div>
                    </div>

                    <div class="opt-group opt-group--tight">
                        <label class="opt-checkbox"><input type="checkbox" ng-model="settings.vsyncenabled" ng-change="onGraphicsDetailChange()"> VSync</label>
                        <label class="opt-checkbox"><input type="checkbox" ng-model="settings.motionblurenabled" ng-change="onGraphicsDetailChange()"> Motion Blur</label>
                    </div>

                    <div class="opt-group opt-group--tight">
                        <label class="opt-label-main">Brightness <span class="opt-value">{{ settings.brightnessPercent }}%</span></label>
                        <input type="range" class="opt-slider" min="1" max="100" ng-model="settings.brightnessPercent" ng-change="onBrightnessChange()">
                    </div>
                </div>

                <div class="opt-pane" ng-show="optionsTab == 'SOUND'">
                    <div class="opt-group">
                        <label class="opt-label-main">Master Volume <span class="opt-value">{{ settings.mastervolume }}%</span></label>
                        <input type="range" class="opt-slider" min="0" max="100" ng-model="settings.mastervolume" ng-change="applyVolume()">
                    </div>
                </div>

                <div class="opt-pane" ng-show="optionsTab == 'CONTROLS'">
                    <div class="opt-group">
                        <label class="opt-checkbox"><input type="checkbox" ng-model="settings.edgepan" ng-change="applyControls()"> Edge Pan</label>
                    </div>
                    <div class="opt-group">
                        <label class="opt-label-main">Edge Scroll Speed</label>
                        <input type="range" class="opt-slider" min="0" max="100" ng-model="settings.edgescrollspeed" ng-change="applyControls()">
                    </div>
                    <div class="opt-group">
                        <label class="opt-label-main">Camera Drag Scroll</label>
                        <label class="opt-radio"><input type="radio" name="dragScroll" ng-value="true" ng-model="settings.middlemousecameradrag" ng-change="applyControls()"> Middle Mouse Button</label>
                        <label class="opt-radio"><input type="radio" name="dragScroll" ng-value="false" ng-model="settings.middlemousecameradrag" ng-change="applyControls()"> Right Mouse Button</label>
                    </div>
                    <div class="opt-group">
                        <label class="opt-checkbox" ng-class="{'opt-checkbox--disabled': cameraRotationLocked}">
                            <input type="checkbox"
                                   ng-model="settings.allowcamerarotation"
                                   ng-change="applyControls()"
                                   ng-disabled="cameraRotationLocked"> Allow Camera Rotation</label>
                        <p class="opt-hint" ng-show="cameraRotationLocked">Unavailable while Middle Mouse Button is used for camera drag scroll.</p>
                    </div>
                </div>

                <div class="opt-pane" ng-show="optionsTab == 'GAMEPLAY'">
                    <div class="opt-group">
                        <label class="opt-label-main">Move Mode</label>
                        <label class="opt-radio"><input type="radio" name="moveMode" ng-value="true" ng-model="settings.movemodeattack" ng-change="applyGameplay()"> Attack Move</label>
                        <label class="opt-radio"><input type="radio" name="moveMode" ng-value="false" ng-model="settings.movemodeattack" ng-change="applyGameplay()"> Standard Move</label>
                    </div>
                    <div class="opt-group">
                        <label class="opt-checkbox"><input type="checkbox" ng-model="settings.allowdeselect" ng-change="applyGameplay()"> Allow Deselect</label>
                    </div>
                </div>

                <div class="opt-pane" ng-show="optionsTab == 'INTERFACE' && allowShellThemeSelect">
                    <div class="opt-group">
                        <label class="opt-label-main">Default Theme</label>
                        <select class="opt-select"
                                ng-model="settings.shellUiThemeDefault"
                                ng-options="theme.id as theme.label for theme in shellThemeOptions"
                                ng-change="onDefaultThemeChange()"
                                ng-disabled="!settingsReady"></select>
                        <p class="opt-hint">{{ shellThemeHint }} Applies now and on the next shell start.</p>
                    </div>
                    <div class="opt-group opt-group--lobby-defaults">
                        <label class="opt-label-main">Lobby Defaults</label>
                        <p class="opt-hint">Set your preferred defaults when starting a lobby.</p>
                        <div class="opt-row">
                            <label class="opt-label-main">Preference</label>
                            <select class="opt-select"
                                    ng-model="lobbyDefaultsMode"
                                    ng-options="m.id as m.label for m in lobbyDefaultModeOptions"
                                    ng-change="onLobbyDefaultModeChange()"
                                    ng-disabled="!settingsReady"></select>
                            <p class="opt-hint" ng-show="lobbyDefaultsMode === 'random'">
                                Faction, general, and colour are rolled randomly each time you join a lobby.
                            </p>
                        </div>
                        <div class="opt-row">
                            <label class="opt-label-main">Preferred Faction</label>
                            <select class="opt-select"
                                    ng-model="lobbyDefaults.faction"
                                    ng-options="f.code as f.label for f in lobbyFactionOptions"
                                    ng-change="onLobbyDefaultFactionChange()"
                                    ng-disabled="!settingsReady || lobbyDefaultsMode === 'random'"></select>
                        </div>
                        <div class="opt-row">
                            <label class="opt-label-main">Preferred General</label>
                            <select class="opt-select"
                                    ng-model="lobbyDefaults.general"
                                    ng-options="g.id as g.label for g in lobbyGeneralOptions()"
                                    ng-disabled="!settingsReady || lobbyDefaultsMode === 'random'"></select>
                        </div>
                        <div class="opt-row">
                            <label class="opt-label-main">Preferred Colour</label>
                            <select class="opt-select opt-select--colour"
                                    ng-model="lobbyDefaults.color"
                                    ng-options="c.value as c.label for c in lobbyColorOptions"
                                    ng-disabled="!settingsReady || lobbyDefaultsMode === 'random'"></select>
                        </div>
                    </div>
                </div>
                </fieldset>
            </div>
        </div>

        <div class="options-footer">
            <p class="opt-footer-status" ng-show="!settingsReady && !settingsLoadError">Loading saved settings…</p>
            <p class="opt-footer-status opt-footer-status--error" ng-show="settingsLoadError">Could not load saved settings. Cancel and reopen, or fix the shell bridge.</p>
            <button class="btn-opt-action btn-opt-green" ng-click="actionSave()" ng-disabled="!settingsReady || settingsSaving">OK</button>
            <button class="btn-opt-action btn-opt-yellow" ng-click="actionCancel()">CANCEL</button>
        </div>
    </div>
</div>