<div class="cc-shell-root cc-shell-root--classic">
    <div class="cc-top-bar">
        <button type="button" class="cc-support-us" title="Support Refracted on Patreon" ng-click="openSupportUs()">
            <span class="cc-support-us__label">SUPPORT US</span>
        </button>
        <div class="cc-logo-block">
            <img src="images/cnc_title.png" alt="Command & Conquer Logo" class="cc-logo-image">
        </div>
        <div class="cc-options-block text-right">
            <div class="build-info-block" aria-label="Build information">
                <div class="build-info-line">CNC_RL/150805</div>
                <div class="build-info-line">cncprod150805</div>
                <div class="build-info-line">prd/rel_k/152085</div>
            </div>
            <button type="button" class="btn btn-primary btn-options" ng-click="openOptions()"><span class="btn-label">OPTIONS</span></button>
        </div>
    </div>

    <div ng-include="homeTemplateUrl" class="cc-main-view" ng-if="!lobbyOpen"></div>
    <div ng-include="lobbyTemplateUrl" class="cc-main-view cc-main-view--lobby" ng-if="lobbyOpen"></div>
</div>
