<!DOCTYPE html>
<html ng-app='CCApp'>
<head>
    <meta charset="utf-8">
    <title>Command & Conquer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src='lib/jquery/jquery-1.9.1-min.js'></script>
    <script src='lib/angular/angular.min.js'></script>
    <script src='lib/angular/angular-resource.min.js'></script>
    <script src='lib/bootstrap/bootstrap.min.js'></script>
    <script src='lib/shell.js'></script>

    <link rel='stylesheet' href='lib/bootstrap/bootstrap.min.css'>
    <link rel='stylesheet' href='lib/bootstrap/bootstrap-responsive.min.css'>
    <link rel='stylesheet' href='css/style.css'>
    <link rel='stylesheet' href='css/sidebar.css'>
    <link rel='stylesheet' href='css/newsbar.css'>
    <link rel='stylesheet' href='css/options.css'>
    <link rel='stylesheet' href='css/rank-bars.css'>
    <link rel='stylesheet' href='css/credits.css'>
    <link rel='stylesheet' href='css/profile/profile.css'>
    <link rel='stylesheet' href='css/profile/profile-match-history.css'>
    <link rel='stylesheet' href='css/profile/profile-statistics.css'>
    <link rel='stylesheet' href='css/profile/profile-achievements.css'>
    <link rel='stylesheet' href='css/profile/profile-leaderboards.css'>
    <link rel='stylesheet' href='css/support/support.css'>
    <link rel='stylesheet' href='css/learn/learn.css'>
    <link rel='stylesheet' href='css/pre-landing.css'>
    <link rel='stylesheet' href='css/lobby.css'>
    <link rel='stylesheet' href='css/themes/cnc-alpha.css'>
    <link rel='stylesheet' href='css/themes/aurora.css'>
    <link rel='stylesheet' href='css/themes/aurora-layout.css'>
    <link rel='stylesheet' href='css/themes/aurora-lobby.css'>

    <script src='js/shell-theme.js'></script>
    <script src='js/shell-lobby-defaults.js'></script>
    <script src='js/cnc-blaze-state.js'></script>
    <script src='js/cnc-pre-landing.js'></script>
    <script src='js/shell-quit.js'></script>
    <script src='app.js'></script>
    <script src='js/shell-lobby.js'></script>
    <script src='js/shell-lobby-tooltips.js'></script>
    <script src='js/debug-probe.js'></script>
    <script src='options.js'></script>
    <script src='profile.js'></script>
    <script src='support.js'></script>
    <script src='learn.js'></script>
    <script src='credits.js'></script>
</head>

<body class="cc-theme cc-theme--aurora" ng-controller="RootController">

    <div id="cc-pre-landing" class="cc-pre-landing" ng-class="{'cc-pre-landing--art': preLandingUseArt, 'cc-pre-landing--shell': preLandingHasShell}" ng-show="!preLandingComplete">
        <div class="cc-pre-landing__inner">
            <div class="cc-pre-landing__brand">
                <div class="cc-pre-landing__spinner" role="status" aria-label="Loading"></div>
                <h1 class="cc-pre-landing__title">PROJECT AURORA</h1>
            </div>
            <div class="cc-pre-landing__statusBox">
                <p class="cc-pre-landing__status">{{ preLandingStatus }}</p>
            </div>
        </div>
    </div>

    <div class="cc-app-root" ng-cloak ng-show="preLandingComplete">
        <div ng-include="shellRootTemplate"></div>
        <div ng-include="'view/options.html'"></div>
        <div ng-include="'view/credits.html'"></div>
        <div class="cc-shell-lost-modal" ng-show="serverLostError && !lobbyOpen">
            <div class="cc-shell-lost-modal__box">
                <div>{{ serverLostError }}</div>
                <button type="button" class="cc-shell-lost-modal__ok"
                        ng-click="dismissServerLostError()">OK</button>
            </div>
        </div>
        <div class="cc-shell-quit-modal" ng-show="confirmQuitOpen">
            <div class="cc-shell-quit-modal__box">
                <h2 class="cc-shell-quit-modal__title">Confirm Quit?</h2>
                <p class="cc-shell-quit-modal__msg">Are you sure you want to quit to desktop?</p>
                <div class="cc-shell-quit-modal__actions">
                    <button type="button" class="cc-shell-quit-modal__btn cc-shell-quit-modal__btn--yes"
                            ng-click="confirmQuitYes()">Yes</button>
                    <button type="button" class="cc-shell-quit-modal__btn cc-shell-quit-modal__btn--no"
                            ng-click="cancelConfirmQuit()">No</button>
                </div>
            </div>
        </div>
        <div class="cc-shell-quit-progress" ng-show="quittingOpen">
            <div class="cc-shell-quit-progress__box">
                <p>Quitting game..</p>
            </div>
        </div>
    </div>

</body>
</html>
